@use './variables.scss';
@use './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');

nav {
  height: 6rem;

  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
}

.link {
  font-size: 1.3rem;
  list-style: none;
  transition: all 0.7s;
  background: #35363b;
  border-radius: 10px;
  text-align: center;
}

.link:active {
  background: variables.$dark-green;
}

.nav-icons {
  align-self: center;
  display: flex;
  gap: 0.5rem;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

svg {
  transition: all 1s;
}

.bar1,
.bar2,
.bar3 {
  position: relative;
  background: rgb(255, 255, 255);
  height: 0.2rem;
  width: 3.4rem;
  justify-self: center;
  transition: all 0.4s;
  border-radius: 15px;
}

ul {
  position: relative;
  z-index: 4;
  color: rgb(255, 255, 255);
}

.menu {
  overflow-y: auto;
  border-radius: 10px;
  position: fixed;
  top: 0;
  animation: menuAnimation 0.2s ease-in;
  z-index: 100;
  left: 0;
  width: 20rem;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(27px);
  background: rgb(32, 33, 37);
  height: 100vh;
  a {
    margin: 0.3rem;
    color: #1c6fff;
    position: relative;
    z-index: 110;
    padding: 10px;
  }
}
.close-menu-btn {
  align-self: flex-end;
  margin-right: 1rem;
  margin-top: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
}
.nav-heading {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  span {
    color: #1c6fff;
  }
}

.transform.bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.transform.bar3 {
  transform: translate(0, -20px) rotate(45deg);
}

.transform.bar2 {
  opacity: 0;
}

.menu-heading {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}
.bars {
  cursor: pointer;
  border-radius: 50%;
  margin-left: 1rem;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  justify-self: center;
  margin-left: 0.7rem;
  height: 25%;
}

.username {
  align-self: center;
}

a {
  text-decoration: none;
}

.logout-icon {
  height: 1.7rem;
  width: 1.7rem;
}
.cart-icon {
  height: 1.7rem;
  width: 1.7rem;
}

.cart-icon-container {
  position: relative;
  @include mixins.container-style(3rem, 3rem, unset, variables.$grey, 50%);
  svg {
    margin: auto;
  }
}

.cart-counter {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  position: absolute;
  display: flex;
  top: 60%;
  left: 1.5rem;
  bottom: 10%;
  color: black;
  background: variables.$yellow;
  align-items: center;

  span {
    font-weight: bold;
    font-size: 1rem;
    margin: auto;
  }
}

.logout-icon-container {
  position: relative;
  background: variables.$grey;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  svg {
    margin: auto;
  }
}
.main-heading {
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .main-heading {
    font-size: 1.2rem;
  }
  .cart-icon-container {
    position: relative;
    @include mixins.container-style(2rem, 2rem, unset, variables.$grey, 50%);

    svg {
      margin: auto;
    }
  }
  .cart-icon {
    height: 1.2rem;
    width: 1.2rem;
  }
  .cart-counter {
    height: 1.5rem;
    width: 1.5rem;
    left: 1.4rem;
    top: 60%;
  }
  .logout-icon-container {
    position: relative;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;

    svg {
      margin: auto;
    }
  }
  .logout-icon {
    height: 1.2rem;
    width: 1.2rem;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 2.3rem;
  }
  .username {
    margin-left: 0.6rem;
    font-size: 1rem;
  }
}

@keyframes menuAnimation {
  0% {
    left: -9rem;
    opacity: 0.2;
  }
  90% {
    left: -2rem;
  }
  100% {
    opacity: 1;
    left: 0rem;
  }
}

.searchHeader {
  width: 100%;
  border-radius: 15px;
  padding: 0px 20px 0px 20px;
  align-self: center;
  position: relative;
}

.searchExitBtn {
  color: rgb(255, 255, 255);
  font-weight: bold;
  background: inherit;
  border: none;
  font-size: 1.3rem;
  height: auto;
}
.disableCloseBtn {
  display: none;
}
.searchHeader_full {
  position: fixed;
  height: 3rem;
  background: #202124;
  z-index: 100;
}

.searchInner {
  display: none;
}

.searchInner_full {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  z-index: -1;
  background: #202124;
}
@media screen and (max-width: 900px) {
  .searchHeader {
    display: flex;
    gap: 15px;
  }

  nav {
    padding: 0rem;
    top: 0rem;
  }
}
