.selectedProducts {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, auto);
  position: relative;
  justify-content: center;
}
.category {
  text-align: center;
  font-size: 2rem;
}

@media screen and (max-width: 900px) {
  .selectedProducts {
    grid-template-columns: auto auto;
  }
  .category {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 650px) {
  .selectedProducts {
    grid-template-columns: auto;
  }
}
