$blue: linear-gradient(215.75deg, #3384FC 20.93%, rgba(0, 102, 255, 0) 148.98%);
// $red: linear-gradient(229.04deg, rgba(211, 25, 25, 0.304) -10.53%, rgba(255, 45, 16, 0.4) 107.64%);
$red: linear-gradient(229.04deg, rgba(248, 0, 0, 0.61) -10.53%, rgba(255, 45, 16, 0.4) 107.64%);
$orange: linear-gradient(229.04deg, rgba(255, 122, 0, 0.4) -10.53%, rgba(255, 107, 0, 0.4) 107.64%);
$dark-green: linear-gradient(206.58deg, #38D551 16.68%, rgba(8, 18, 4, 0) 200.79%);
$darkest-green:   #52a811;
$black-main:rgba(0, 0, 0, 0.87);
$light-black: rgba(8, 8, 10, 0.13);
$inputField-bg:linear-gradient(229.04deg, rgba(255, 255, 255, 0.16) -10.53%, rgba(255, 252, 252, 0) 107.64%);
$glass-bg: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(229.04deg, rgba(255, 255, 255, 0.16) -10.53%, rgba(255, 252, 252, 0) 107.64%);
$light-glass-bg:linear-gradient(0deg, rgba(0, 0, 0, 0.158), rgba(0, 0, 0, 0.452)), linear-gradient(229.04deg, rgba(255, 255, 255, 0.164) -10.53%, rgba(255, 252, 252, 0.075) 107.64%);
$dark-glass-bg:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(229.04deg, rgba(255, 255, 255, 0.16) -10.53%, rgba(255, 252, 252, 0) 107.64%);
$border-main:linear-gradient(rgba(112, 0, 255, 1),rgba(227, 127, 9, 0),rgba(64, 172, 94, 0.56)) ;
$login-border: linear-gradient( rgba(221, 20, 20, 0.38),rgba(227, 127, 9, 0.09),rgba(0, 224, 255, 0.54)) ;
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$blur:blur(27px);
$dark-orange:linear-gradient(229.04deg, rgba(255, 122, 0, 0.4) -10.53%, rgba(255, 107, 0, 0.4) 107.64%);
$green: #20FA50;
$black-bg: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(229.04deg, rgba(255, 255, 255, 0.16) -10.53%, rgba(255, 252, 252, 0) 107.64%);
$radial-blue:radial-gradient(105.61% 105.61% at 23.75% -11.45%, #0E7899 0.12%, #1B161A 100%);
$linear-orange:linear-gradient(227.35deg, #F26719 -2.41%, #393635 172.48%);
$radial-purple: radial-gradient(105.61% 105.61% at 23.75% -11.45%, #6D0E99 15.27%, #1B1616 100%);
$radial-reversed-purple: radial-gradient(110.56% 132.21% at 120.66% 118.7%, #A01BDF 9.63%, rgba(27, 22, 22, 0.28) 100%);
$radial-reversed-purple-light: radial-gradient(178.81% 196.65% at 100% 105.26%, #6D0E99 0%, #6D0E99 15.27%, rgba(27, 22, 22, 0.53) 93.65%) ;
$linear-red:linear-gradient(219.7deg, #F40000 22.68%, rgba(255, 58, 58, 0) 164.69%);
$radial-aqua: radial-gradient(117.6% 125.45% at 82.76% 0%, #1991B7 0%, #175D59 50.49%, #1F1D1F 100%);
$purple-blue-linear: linear-gradient(260.38deg, #5A0DD7 -54.19%, #C216FF 149.31%);
$linear-blue:linear-gradient(219.74deg, #07A6FF 11.94%, rgba(7, 166, 255, 0) 177.3%);
$light-green:#03EBA5;
$yellow:linear-gradient(230.22deg, #FFC701 -33.43%, #FFBB0B 182.65%);
$orange: linear-gradient(227.35deg, #F26719 -2.41%, #393635 172.48%);
$orange-shadow:2px 0px 25px -2px rgba(255, 127, 9, 0.68);
$red-shadow: 2px 0px 24px rgb(227, 26, 26);
