* {
  margin: 0rem;
  box-sizing: border-box;
  color: white;
  scrollbar-width: 1px;

  ::-webkit-scrollbar {
    width: 1em;
  }

  ::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: #7a797c;
    background-clip: content-box;
  }
}

.App {
  text-align: center;
}

html {
  min-height: fit-content;
}

body {
  color: azure;
  min-height: 100%;
  background: #202124;
}

#root {
  min-height: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}

.App {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.appLoader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
}
